body {
  text-align: center;
  font-family: arial, sans-serif;
  background-image: url("http://i.imgur.com/DpypMCZ.png");
  color: white;
}
a:link {
  color: #DDDDFF;
}
a:visited {
  color: #FFDDFF;
}
a:hover {
  color: #FFFFFF;
}
a:active {
  color: #EEEEEE;
}
