body {
  text-align: center;
  font-family: arial, sans-serif;
  background-image: url("http://i.imgur.com/REaHCet.png");
  color: white;
}
a:link {
  color: #DDDDFF;
}
a:visited {
  color: #FFDDFF;
}
a:hover {
  color: #FFFFFF;
}
a:active {
  color: #EEEEEE;
}
#desc {
  width: 800px;
  padding: 25px;
  border-radius: 15px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.75);
}
