body {
  text-align: center;
  font-family: arial, sans-serif;
  background: #800;
  color: #FFF;
}
a:link {
  color: #DDF;
}
a:visited {
  color: #FDF;
}
a:hover {
  color: #FFF;
}
a:active {
  color: #EEE;
}
#desc {
  width: 800px;
  padding: 10px 25px 25px 25px;
  border-radius: 0px 0px 12px 12px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.75);
}
#nav {
  padding: 6px;
  margin: auto;
  text-align: left;
  background-color: rgb(32, 32, 32);
  width: 838px;
  border-radius: 12px 12px 0px 0px;
}
#nav li {
  display: inline-block;
}
#nav li a, .btn {
  display: inline-block;
  text-decoration: none;
  padding: 6px;
  background-color: rgb(64, 64, 64);
  text-transform: uppercase;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 1px 1px 2px rgb(8, 8, 8);
  border-radius: 2px;
  color: #FFF;
}
#nav li a:hover, .btn:hover {
  background-color: rgb(96, 96, 96);
}
#nav li a:active, .btn:active {
  background-color: rgb(16, 16, 16);
  box-shadow: 1px 1px 2px rgb(8, 8, 8) inset;
}
.r {
  float: right;
  margin-left: 4px;
}
.btn {
  border: 0;
  outline: 0;
}
.nosel {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
